# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build artifacts
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env*.local
.env

# Vercel deployment metadata
.vercel

# TypeScript / IDE configurations
*.tsbuildinfo
.next-types/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?